<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Columns with icons</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <i class="bi bi-reception-4"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link"> Call to action <i class="bi bi-chevron-right"></i> </a>
    </div>


    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <i class="bi bi-airplane-engines-fill"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link"> Call to action <i class="bi bi-chevron-right"></i> </a>
    </div>

    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <i class="bi bi-android2"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link"> Call to action <i class="bi bi-chevron-right"></i> </a>
    </div>

  </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Hanging icons</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-wrench-adjustable"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary text-white">Primary button</a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-fire"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary text-white">Primary button</a>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-slack"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="btn btn-primary text-white">Primary button</a>
      </div>
    </div>

  </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Custom cards</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./assets/playa.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="./assets/playa.jpg" alt="" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <i class="bi bi-geo-fill"></i><small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-calendar3"></i><small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./assets/nieve.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="./assets/nieve.jpg" alt="" width="32" height="32" class="rounded-circle border border-white">
            <li class="d-flex align-items-center me-3">
              <i class="bi bi-geo-fill"></i><small>Nature</small>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-calendar3"></i><small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./assets/castle.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="./assets/castle.jpg" alt="" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <i class="bi bi-geo-fill"></i><small>Blue</small>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-calendar3"></i><small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Icon grid</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-gear-fill"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-globe-americas"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-heart-pulse-fill"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-moon-stars-fill"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-rocket-takeoff-fill"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-server"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-suit-club-fill"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <div class=" text-body-secondary me-3" width="1.75em" height="1.75em">
        <i class="bi bi-tools"></i>
      </div>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

  </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Features with title</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
      <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="btn btn-primary btn-lg">Primary button</a>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-bank2"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-chat-dots-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-clock-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-cloud-moon-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
          <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
    </div>
  </div>
</div>
